* {
    font-family: 'Roboto', sans-serif;
    }
html, body {
    display: flex;
    margin:0;
    padding: 0;
    flex-direction: column;
}
#links{
    display: block;
    float: right;
    background-color: #010353;
    border: none;
    border-radius: 45px;
    color:#f5efeb;
    padding:10px;
    margin: 15px;
    text-decoration: none;
    transition-duration: 0.5s;
    cursor: pointer;
    outline: none;
}
.this-project-is-hell{
    background-color: #1f2937;
    color: #f9faf8;
    size: 48px;
    font-weight: bold;
    border: none;
    outline: none;
}
.hero-main {
    background-color: #1f2937;
    color: #f9faf8;
    size: 48px;
    font-weight: bold;
    display:block;
    float:left;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 0%;
    padding-bottom: 5%;
    border: none;
    outline: none;
    height:auto;
    

}

.btn {
    background-color:  #f17428 ;
    border: none;
    border-radius: 45px;
    color:#f5efeb;
    padding:10px;
    margin: 15px;
    text-decoration: none;
    transition-duration: 0.5s;
    cursor: pointer;
    outline: none;
}

#links:hover{
    background-color: orangered;
    color:white;
}

.btn.h2.p{
    display: block;
    float: left;
}
#h3 {
    color: #e5e7eb;
    size: 18px;
}
.Some-random-information{
    border:none;
    text-align: center;
    padding: 10px;
    float: none;
    margin-top: 10PX;
    padding: 0%;
}
.hackerman{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

img{
    border-radius: 5%;
   
}
.inspiration-quote{
    background-color: #e5e7eb;
    justify-content: space-around;
    font-size: 36px;
    font-style: italic;
    color:#1f2937;
    text-align: center;
    padding: 10px;
    display: flex;
    margin-top: 10%;
    margin-bottom: 10%;
}
.call-for-action-time{
    display: flex;
    justify-content: center;
}
.chenar{
    background-color: #3882f6;
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 19px 300px;
    border-radius: 45px;
}

